html, body {width:100%;height:100%;background: url(http://t2.hddhhn.com/uploads/tu/201707/115/52.jpg);bgproperties=fixed;} /*非常重要的样式让背景图片100%适应整个屏幕*/
.bg {display: table;width: 100%;height: 100%;padding: 100px 0;text-align: center;color: #fff;background: url() no-repeat bottom center;background-color: rgba(0,0,0,0.1);background-size: cover;bgproperties=fixed;}
.my-navbar {padding:20px 0;transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;}
.my-navbar a{background:transparent !important;color:#fff !important}
.my-navbar a:hover {color:#45bcf9 !important;background:transparent;outline:0}
.my-navbar a {transition: color 0.5s ease-in-out;}/*-webkit-transition ;-moz-transition*/ 
.top-nav {padding:0;background:#000;}
.table {margin:150px 0px 0px 130px;width:70%;}
.title {font-size:40px;color:black;}
.content {font-size:16px;color:black;}
.open>.dropdown-toggle{background-color:#000!important;}
.open>.dropdown-menu {background-color:#000!important;}
.table{border-collapse: collapse; table-layout:fixed}
.table td div{ text-overflow:ellipsis; overflow:hidden; height:118px;white-space: nowrap;background:url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1536751661635&di=745646e86682969c72dd5dc7cb1da9ab&imgtype=0&src=http%3A%2F%2Fpic.90sjimg.com%2Fback_pic%2Fu%2F00%2F00%2F95%2F36%2F55e6b4967d6f2.jpg);}
button.navbar-toggle {background-color:#fbfbfb;}/*整个背景都是transparent透明的，会看不到，所以再次覆盖一下*/
button.navbar-toggle > span.icon-bar {background-color:#dedede}
